{
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "rules": {
    "no-var": "error",
    "eqeqeq": "error",
    "indent": ["error", 2]
  }
  
}
